body{

    #sectionCompetences{

        .positionH1{
            p{
                color : $lightblue;
            }
        }
        
    }

    .grid{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        grid-gap: 10px;
        text-align: center;
        margin-bottom: 40%;
        margin-top: 10%;

        .logoTaille {
            width: 100%;
            img{
            width: 50px;
            padding-bottom: 10%;
            }
        }
    }

}


//*****************RESPONSIVE WEB A PARTIR DE 415px

@media screen and (min-width:415px){

    body{

        #sectionCompetences{
    
            .grid{
                width: 100%;

                .logoTaille{

                    img{
                        width: 50%;
                    }
                }
            }
        }
    }

}

