    //*****************SECTION PROJETS 
body{

    #sectionProjets{

        // .centerCubeProjet{
        //     height: 9em;
        // }
    
        .containerSlide{
            height: 12em;
            overflow-y: hidden;
            // scrollbar-width: none;

            .slide {
                position: absolute;
                overflow-x: scroll;
                width: 100%;
                height: 9em;
                display: flex;
                gap: 15px;
                margin-bottom: 20px;
                z-index: 20;
                
                img{
                    width: 280px;
                    cursor: pointer;
                }
        
            }    
        }
    
        .positionProjets{
            position: absolute;
            z-index: 5;
            
            // style et position du 'a propos' d'arrière plan
            p{
                // utilisation du mixin déclaré dans _'splashscreen.scss'
                @include styleName('arialic', 6em, normal, $lightgreen);
                position: absolute;
                width : 200%;
                font-size: 6em;
                left: 50px;
            }
            
            // style et position du 'a propos' premier plan
            h1{
                // utilisation du mixin déclaré dans _'splashscreen.scss'
                @include styleName('azonix', 2em, normal, $white);
                position: absolute;
                color: $white;
                top:120px;
                left: 100px;
            }   
        }    
    }
}
@media screen and (min-width:415px) {

    body{
      
        #sectionProjets{  

            .containerSlide{
                margin-bottom: 22em;
                width: 100%;
                
                
                .slide{
                    scrollbar-width: none;
                    width: 100%;
                    position: absolute;
                    overflow-x: scroll;
                    display: flex;
                    height: 24em;
                    gap: 30px;
                    margin-bottom: 20px;
                    margin: -50px 0;
                    z-index: 20;

                            img {
                                cursor: pointer;
                                width: 700px;
                               
                            }
                    
                }
            }                  
                    
            
            
            
            .image {
                opacity: 1;
                display: block;
                width: 100%;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;
            }
            .text {
                background-color: $or;
                color: $white;
                font-size: 16px;
                padding: 16px 32px;
            }
            
            .container:hover .image {
                opacity: 0.3;
            }
            
            .container:hover .middle {
                opacity: 1;
            }             
            
            .positionProjets{
                position: absolute;
                height: 19em;
                z-index: 5;
                
                // style et position du 'a propos' d'arrière plan
                p{
                    // utilisation du mixin déclaré dans _'splashscreen.scss'
                    @include styleName('arialic', 18em, normal, $lightgreen);
                    position: absolute;
                    width : 200%;
                    left : 0.8em;
                    top: -90px
                }
                
                // style et position du 'a propos' premier plan
                h1{
                    // utilisation du mixin déclaré dans _'splashscreen.scss'
                    @include styleName('azonix', 6em, normal, $white);
                    position: absolute;
                    top: 2.7em;
                    left: 4.3em;
                    
                }
            }
        }    
    }    
}