
@mixin styleName($fontfamily, $fontsize, $fontweight, $color )
{
    font-family: $fontfamily;
    font-size: $fontsize;
    font-weight: $fontweight;
    color : $color;
}

#firstName{
    // utilisation du mixin
    @include styleName('creattionDemo', 6em, lighter, $white);
    text-transform: capitalize;
    margin: 20px 0 0 0;
    position: fixed;
    left:19%;
    z-index: 1;
}
#pt-or{
    color: $or;
    font-size: 90%;
    position: absolute;
    left:103%;
}

#name{
    // utilisation du mixin
    @include styleName('creattionDemo', 6.5em, lighter, $or);
    text-transform: capitalize;
    margin: 30px 0 0 0;
    position: fixed;
    left:30%;
    z-index: 0;
}


@media screen and (min-width:415px){

    #firstName{
        left:2%;
        font-size: 7em;
    }
    #name{
        left: 5%;
        font-size: 8.5em;
    }

}