
@import './variables','./splashscreen','./cube','./aPropos','./competences','./modal','./cv','./contact','./projets';


body{
    margin: 0;
    background-color: $bgblack;
    a{
        text-decoration: none;
    }
}






