@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "creattionDemo";
  src: url(/assets/fonts/CreattionDemo.otf) format("truetype");
}
@font-face {
  font-family: "arialic";
  src: url(/assets/fonts/ArialicHollow.ttf) format("truetype");
}
@font-face {
  font-family: "azonix";
  src: url(/assets/fonts/Azonix.otf) format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url(/assets/fonts/ROBOTO-REGULAR.TTF) format("truetype");
}
#firstName {
  font-family: "creattionDemo";
  font-size: 6em;
  font-weight: lighter;
  color: #F1F1F1;
  text-transform: capitalize;
  margin: 20px 0 0 0;
  position: fixed;
  left: 19%;
  z-index: 1;
}

#pt-or {
  color: #D6BA2C;
  font-size: 90%;
  position: absolute;
  left: 103%;
}

#name {
  font-family: "creattionDemo";
  font-size: 6.5em;
  font-weight: lighter;
  color: #D6BA2C;
  text-transform: capitalize;
  margin: 30px 0 0 0;
  position: fixed;
  left: 30%;
  z-index: 0;
}

@media screen and (min-width: 415px) {
  #firstName {
    left: 2%;
    font-size: 7em;
  }

  #name {
    left: 5%;
    font-size: 8.5em;
  }
}
#bg-photo {
  display: none;
}

#filterOr {
  display: block;
  position: fixed;
  width: 150%;
  height: 110%;
  left: -25%;
}

.container_cube {
  height: 300vh;
  display: flex;
  justify-content: center;
}

#portaCubo {
  perspective: 300vw;
  position: fixed;
  width: 100%;
  height: 90%;
}

#cubo {
  width: 200px;
  height: 200px;
  line-height: 160px;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  transform-style: preserve-3d;
  -webkit-animation: girar 5s infinite linear running;
          animation: girar 5s infinite linear running;
}

.lienCube {
  font-family: "azonix", Arial, Helvetica, sans-serif;
  font-size: 0.4em;
  color: #D6BA2C;
}

.styleFace, #face6, #face5, #face4, #face3, #face2, #face1 {
  border: 1px solid #c82192;
  -o-border-image: linear-gradient(90deg, #c82192 0%, #44d6bc 34%, #23ff00 66%, #fa8d00 100%);
     border-image: linear-gradient(90deg, #c82192 0%, #44d6bc 34%, #23ff00 66%, #fa8d00 100%);
  border-image-slice: 1;
}

.face {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
}

#face1 {
  transform: translateZ(100px);
}

#face2 {
  transform: translateZ(-100px);
}

#face3 {
  transform: rotateY(-90deg) translateZ(100px);
}

#face4 {
  transform: rotateY(90deg) translateZ(100px);
}

#face5 {
  transform: rotateX(90deg) translateZ(100px);
}

#face6 {
  transform: rotateX(-90deg) translateZ(100px);
}

@media screen and (min-width: 415px) {
  #bg-photo {
    display: block;
    width: 100%;
    position: fixed;
  }

  #container {
    width: 80%;
    margin: auto;
  }

  .container_cube {
    height: 400vh;
  }

  #portaCubo {
    perspective: 150vw;
  }

  #cubo {
    width: 300px !important;
    height: 300px !important;
    top: 50% !important;
  }

  #face1 {
    transform: translateZ(150px);
  }

  #face2 {
    transform: translateZ(-150px);
  }

  #face3 {
    transform: rotateY(-90deg) translateZ(150px);
  }

  #face4 {
    transform: rotateY(90deg) translateZ(150px);
  }

  #face5 {
    transform: rotateX(90deg) translateZ(150px);
  }

  #face6 {
    transform: rotateX(-90deg) translateZ(150px);
  }

  #portaCubo {
    perspective: 300vw;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  #cubo {
    width: 200px;
    height: 200px;
    line-height: 270px;
    text-align: center;
    font-size: 5em;
    top: 60%;
    left: 60%;
    margin-top: -100px;
    margin-left: -100px;
  }
  #cubo a {
    transition: 500ms;
  }
  #cubo a:hover {
    transition: 500ms;
    color: #F2F2F2;
  }

  #filterOr {
    display: none;
    position: fixed;
    width: 150%;
    height: 110%;
    left: -11%;
  }
}
body {
  background: url(../images/photos/bg-pixel.jpg);
  scrollbar-width: none;
}
body section .centerCube {
  width: 100%;
  position: fixed;
  margin: 10px 0 0 10px;
  z-index: 500;
}
body section .centerCube img {
  margin-top: 10px;
  width: 15%;
}
body section .positionH1 {
  position: relative;
  height: 7em;
  overflow: hidden;
  scrollbar-width: none;
}
body section .positionH1 p {
  font-family: "arialic";
  font-size: 6em;
  font-weight: normal;
  color: #c72292;
  position: absolute;
  width: 200%;
  font-size: 6em;
  margin: 0 0 0 10%;
  top: 0;
  left: 40px;
  z-index: 0;
  opacity: 0.4;
}
body section .positionH1 h1 {
  font-family: "azonix";
  font-size: 2em;
  font-weight: normal;
  color: #F1F1F1;
  position: inherit;
  color: #F1F1F1;
  padding-top: 15%;
  text-align: right;
  z-index: 1;
  margin: 0 5px 0 0;
}
body section .card {
  margin: 10% 0;
  margin-top: 10%;
}
body section .card .cardRight {
  border-left: 1px solid #D6BA2C;
  font-size: 0.8em;
  margin-left: 10px;
  margin-top: 60px;
}
body section .card .cardRight p {
  color: #F1F1F1;
  font-family: "Open Sans", sans-serif;
  margin: 0 10px 10px 10px;
}
body section .card .cardRight .cardLeft {
  width: 100%;
  position: absolute;
  -webkit-animation: fadeEffect 5s;
          animation: fadeEffect 5s;
  /* fading effect takes 3s */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
body section .card .cardRight .cardLeft p {
  text-align: left;
  margin: 0 10px 0 10px;
  width: 70%;
  font-family: "arialic";
  font-size: 4.5em;
  color: #D6BA2C;
}
@-webkit-keyframes fadeEffect {
  /* from 0 to full opacity */
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeEffect {
  /* from 0 to full opacity */
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 415px) {
  body section .centerCube img {
    width: 10%;
  }
  body section .positionH1 {
    position: relative;
    height: 21em;
    overflow: hidden;
    scrollbar-width: none;
  }
  body section .positionH1 p {
    font-family: "arialic";
    font-size: 18em;
    font-weight: normal;
    color: #c72292;
    color: #c72292;
    position: absolute;
    margin: 0 0 0 40%;
    z-index: 0;
  }
  body section .positionH1 h1 {
    font-family: "azonix";
    font-size: 6em;
    font-weight: normal;
    color: #F1F1F1;
    position: inherit;
    color: #F1F1F1;
    z-index: 1;
    top: -20%;
  }
  body section #containerCard .card {
    position: relative;
  }
  body section #containerCard .card .cardRight {
    width: 60%;
    border-left: 1px solid #D6BA2C;
    font-size: 2em;
    margin-left: 5%;
    margin-top: 7%;
  }
  body section #containerCard .card .cardRight .cardLeft p {
    text-align: left;
    margin: 0 10px 0 10px;
    width: 80%;
    font-size: 1.5em;
    font-family: "arialic";
    font-size: 5em;
    color: #D6BA2C;
  }
  body section #containerCard .card2 {
    position: relative;
    left: 33%;
  }
}
body #sectionCompetences .positionH1 p {
  color: #43d7b6;
}
body .grid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
  text-align: center;
  margin-bottom: 40%;
  margin-top: 10%;
}
body .grid .logoTaille {
  width: 100%;
}
body .grid .logoTaille img {
  width: 50px;
  padding-bottom: 10%;
}

@media screen and (min-width: 415px) {
  body #sectionCompetences .grid {
    width: 100%;
  }
  body #sectionCompetences .grid .logoTaille img {
    width: 50%;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
body #sectionProjets .positionProjets {
  position: absolute;
  z-index: 0;
}
body #sectionProjets .positionProjets p {
  font-family: "arialic";
  font-size: 6em;
  font-weight: normal;
  color: #27c939;
  position: absolute;
  width: 200%;
  font-size: 6em;
  left: 50px;
}
body #sectionProjets .positionProjets h1 {
  font-family: "azonix";
  font-size: 2em;
  font-weight: normal;
  color: #F1F1F1;
  position: absolute;
  color: #F1F1F1;
  top: 120px;
  left: 100px;
}
body #sectionProjets .containerSlide {
  height: 12em;
  overflow-y: hidden;
}
body #sectionProjets .containerSlide .slide {
  position: absolute;
  overflow-x: scroll;
  width: 100%;
  height: 9em;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  /* The Modal (background) */
}
body #sectionProjets .containerSlide .slide .myBtn {
  width: 280px;
  cursor: pointer;
}
body #sectionProjets .containerSlide .slide .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content */
}
body #sectionProjets .containerSlide .slide .modal .modal-content {
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: #F1F1F1;
  font-family: "roboto";
  border: 1px solid #c82192;
  -o-border-image: linear-gradient(90deg, #c82192 0%, #44d6bc 34%, #23ff00 66%, #fa8d00 100%);
     border-image: linear-gradient(90deg, #c82192 0%, #44d6bc 34%, #23ff00 66%, #fa8d00 100%);
  border-image-slice: 1;
  height: 60%;
  /* The Close Button */
}
body #sectionProjets .containerSlide .slide .modal .modal-content .close {
  color: #D6BA2C;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body #sectionProjets .containerSlide .slide .modal .modal-content .close:hover,
body #sectionProjets .containerSlide .slide .modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body #sectionProjets .containerSlide .slide .modal .modal-content .modal-scroll {
  height: 70%;
  overflow-y: scroll;
  margin-top: 10px;
}
body #sectionProjets .containerSlide .slide .modal .modal-content .modal-scroll #tailleModal {
  width: 100%;
}
body #sectionProjets .containerSlide .slide .modal .modal-content .modal-scroll .gridModal {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
  text-align: center;
}
body #sectionProjets .containerSlide .slide .modal .modal-content .modal-scroll .gridModal .logoTaille {
  width: 50px;
}
body #sectionProjets .containerSlide .slide .modal .modal-content .modal-scroll .content-logo {
  width: 60%;
  display: flex;
}
body #sectionProjets .containerSlide .slide .modal .modal-content .modal-scroll .content-logo #tailleGit {
  width: 50%;
}
body #sectionProjets .containerSlide .slide .modal .modal-content .modal-scroll .content-logo #tailleOrdi {
  width: 50%;
}

@media screen and (min-width: 415px) {
  body #sectionProjets .positionProjets {
    position: absolute;
    height: 19em;
    z-index: 0;
  }
  body #sectionProjets .positionProjets p {
    font-family: "arialic";
    font-size: 18em;
    font-weight: normal;
    color: #27c939;
    position: absolute;
    width: 200%;
    left: 0.8em;
    top: -90px;
  }
  body #sectionProjets .positionProjets h1 {
    font-family: "azonix";
    font-size: 6em;
    font-weight: normal;
    color: #F1F1F1;
    position: absolute;
    top: 2.7em;
    left: 4.3em;
  }
  body #sectionProjets .containerSlide {
    margin-bottom: 22em;
    width: 100%;
  }
  body #sectionProjets .containerSlide .slide {
    scrollbar-width: none;
    width: 100%;
    position: absolute;
    overflow-x: scroll;
    display: flex;
    height: 24em;
    gap: 30px;
    margin-bottom: 20px;
    margin: -50px 0;
  }
  body #sectionProjets .containerSlide .slide .container img {
    cursor: pointer;
    width: 700px;
    transition: 500ms;
  }
  body #sectionProjets .containerSlide .slide .container img:hover {
    transition: 500ms;
    opacity: 0.5;
  }
  body #sectionProjets .containerSlide .slide .modal .modal-content {
    height: 90%;
  }
}
body section #containerCV {
  display: flex;
  margin: 40% 0 20% 0;
  justify-content: flex-end;
  overflow-x: hidden;
}
body section #containerCV #titreCV {
  width: 270%;
}
body section #containerCV #titreCV .positionCV {
  position: relative;
  height: 9em;
  overflow: hidden;
  scrollbar-width: none;
}
body section #containerCV #titreCV .positionCV p {
  font-family: "arialic";
  font-size: 6em;
  font-weight: normal;
  color: #d17900;
  position: absolute;
  width: 200%;
  font-size: 6em;
  margin: 0 0 0 10%;
  top: 0;
  left: 0;
  z-index: 0;
}
body section #containerCV #titreCV .positionCV h1 {
  font-family: "azonix";
  font-size: 2em;
  font-weight: normal;
  color: #F1F1F1;
  position: inherit;
  color: #F1F1F1;
  padding-top: 30%;
  text-align: center;
  z-index: 1;
  margin: 0 5px 0 20px;
}
body section #divLeftCV {
  width: 100%;
}
body section #cv {
  width: 200px;
}

@media screen and (min-width: 415px) {
  body section #containerCV #titreCV {
    width: 60%;
  }
  body section #containerCV #titreCV .positionCV {
    height: 26em;
  }
  body section #containerCV #titreCV .positionCV p {
    font-family: "arialic";
    font-size: 18em;
    font-weight: normal;
    color: #d17900;
    margin: 0 0 0 20%;
    top: 80px;
  }
  body section #containerCV #titreCV .positionCV h1 {
    font-family: "azonix";
    font-size: 9em;
    font-weight: normal;
    color: #F1F1F1;
    margin: 0 5px 0 20px;
    top: -50px;
  }
  body section #containerCV #divLeftCV {
    width: 40%;
  }
  body section #containerCV #divLeftCV img {
    width: 150%;
  }
}
#timbre {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
#timbre img {
  width: 10%;
}

form {
  display: flex;
  margin-top: 40px;
}
form #message {
  width: 45%;
}
form #message textarea {
  width: 100%;
  background-color: transparent;
  color: #F1F1F1;
  border-left: hidden;
  border-top: hidden;
  border-bottom: hidden;
  border-right: 1px solid #D6BA2C;
  margin-left: 10px;
  outline: none;
  font-family: "roboto";
  font-size: 0.8em;
}
form #contactRight {
  width: 30%;
  margin-left: 15%;
}
form #contactRight input {
  width: 100%;
  text-align: right;
  color: #F1F1F1;
  background-color: transparent;
  border-bottom: 1px solid #D6BA2C;
  border-left: hidden;
  border-top: hidden;
  border-right: hidden;
  margin-top: 20px;
  outline: none;
  font-family: "roboto";
}
form #contactRight #btn {
  background-color: #D6BA2C;
  border: none;
  margin-top: 40px;
  width: 70%;
  font-family: "roboto";
  padding: 5px 10px 5px 10px;
  text-align: center;
  float: right;
  border-radius: 5px;
}

@media screen and (min-width: 415px) {
  body #sectionContact form #message {
    font-size: 2.5em;
  }
  body #sectionContact form #contactRight input {
    font-size: 2em;
  }
  body #sectionContact form #btn {
    margin-top: 20%;
  }
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 12px;
  text-align: center;
}

th {
  background-color: gray;
}

th, td {
  border: 1px solid black;
}

img {
  width: 100px;
}

.logoTaille {
  width: 20%;
}

#col_titre {
  width: 150px;
}

#col_date {
  width: 100px;
  text-align: center;
}

#col_tech {
  width: 100px;
  text-align: center;
}

.col_link {
  width: 100px;
  font-size: 10px;
}

body {
  margin: 0;
  background: #000000;
}
body a {
  text-decoration: none;
}

@media screen and (min-width: 415px) {
  body {
    background: url(../images/photos/bg-pixel.jpg);
  }
}/*# sourceMappingURL=style.css.map */